* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

#logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  line-height: 1.17;
  text-transform: uppercase;
}

#web {
  color: #4d5ae5;
}

#studio {
  color: #2e2f42;
}
#web,
#studio {
  margin-right: 0; /* sağdaki boşluğu kaldır */
  text-transform: uppercase;
}
header {
  nav li {
    width: 1440px;
    height: 72px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-bottom: 1px solid #e7e9fc;
  }
}
.address {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 153px;
  height: 24px;
  top: 24px;
  left: 940px;
  gap: 0px;
  opacity: 0px;
}
nav ul li {
  width: Hug (261px) px;
  height: Hug (24px) px;
  top: 24px;
  left: 347px;
  gap: 40px;
  opacity: 0px;
  color: #2e2f42;
}

nav a {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: Hug (115px) px;
  height: Fixed (24px) px;
  top: 24px;
  left: 156px;
  gap: 0px;
  opacity: 0px;
  color: #4d5ae5;
}
#hero {
  width: 1440px;
  height: 600px;
  top: 72px;
  gap: 0px;
  opacity: 0px;
  background-color: #2e2f42;
}
section h1 {
  background-color: #2e2f42;
  color: #ffffff;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.blueButton {
  width: Hug (169px) px;
  height: Hug (56px) px;
  top: 428px;
  left: 636px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  font-weight: 500;
  opacity: 0px;
  background-color: #4d5ae5;
  cursor: pointer;
}

#services p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
#services h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#team h2 {
  color: #2e2f42;
  width: 162px;
  height: 40px;
  top: 1136px;
  left: 639px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
#Portfolio h2 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 218px;
  height: 40px;
  top: 1868px;
  left: 611px;
  gap: 0px;
  opacity: 0px;
  color: #2e2f42;
  text-transform: capitalize;
}
#Portfolio img {
  width: 360;
}

footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
